{% extends 'base1.html.twig' %}
{% block title %}<title>Add user</title>{% endblock %}
{% block body %}
    <h1>Ajouter user</h1>
    {{ form_start(form) }}



    {{ form_end(form) }}
{% endblock %}
