{% extends 'front.html.twig' %}
{% block title %}<title>Update profile</title>{% endblock %}
{% block body %}
  <div class="container">
    <div class="col-md-8">
      {{ form_start(form,{attr:{'id':'form'}}) }}

    {{ form_end(form) }}
  </div>
  </div>


{% endblock %}