{% extends 'base1.html.twig' %}
{% block title %}<title>Update User</title>{% endblock %}
{% block body %}
    {{ form_start(form,{attr:{'id':'form'}}) }}

    {{ form_end(form) }}
{% endblock %}